<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <label for="foto">
      <img id="icon" src="assets/camara.svg"/>
    </label>
    <input  id="foto" type="file" name="foto" accept="image/*" capture="camera" class="foto"/>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Marca</ion-label>
    <ion-input placeholder="Ducati / Yamaha / Honda" [(ngModel)]="marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Modelo</ion-label>
    <ion-input placeholder="Ninja" [(ngModel)]="modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Año</ion-label>
    <ion-input placeholder="1998" [(ngModel)]="year"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Precio</ion-label>
    <ion-input placeholder="8000" [(ngModel)]="precio"></ion-input>
  </ion-item>

  <ion-button (click)="addMoto()" color="primary" expand="block"  >
    Guardar
  </ion-button>
</ion-content>
